/* Imports */
@import './style/fonts.css';
@import './style/buttons.css';

/* Variables */
:root {
  --FirstLinear: #94A03C;
}

/* General Style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1320px;
}

a {
  text-decoration: none;
}
