/* Imports */
@import './style/fonts.css';
@import './style/buttons.css';

/* Variables */
:root {
  --FirstLinear: #94A03C;
}

/* General Style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #21221C;
}

.container {
  margin: 0px auto;
  width: 90%;
  max-width: 80%;
}

a {
  text-decoration: none;
}
